.light-theme {
    --infoBar: #43942f;
    --backgroundColor1: #8e8e8e;
    --backgroundColor2: #b5bb48;
    --menuBorderShadow: #fff;
    --menuTextColor: rgba(255, 255, 255, 0.5);
    --menuTextColorHover: rgb(27, 11, 119);
    --menuMobileNavColor: rgba(255, 255, 255, 0.5);   
    --MenuTextColorActiveSubMenu: rgba(149, 134, 202, 0.637);     
}