.DisplayBlock {
    display:block;
    width:100%;
}
.addWebsite-description-wrapper {
    width: 100%;
}

input.outlined-adornment-field {
    color: white;
}
textarea.outlined-adornment-field {
    color: white;
}
