@import "./Home.scss";
@import "./Dashboard.scss";
@import "./Surf.scss";
@import "./Faucet.scss";
@import './Dashboard.scss';
@import './PostAd.scss';
@import './Profile.scss';
@import './Settings.scss';
@import './Trade.scss';
@import './Wallet.scss';
@import './PublicProfile.scss';
@import './Activity.scss';
@import './games/Loto.scss';
@import './Faq.scss';