.cardGray {
    background-color: #ebebeb82 !important;  
    margin: 10px;  
}
.cardBorderTwo {
    border: 2px solid var(--cardBorderColor);
    margin: 10px;
    //min-width: 100%;
  }
  .done {
      color: green;
      font-size: 100px;
  }