.starsPublicProfile svg {
    width: 50px;
    height: 50px;
}

.price-block {
    color: #fff;
    text-align: center;
    display: inline-block;
    /* margin: 1%; */
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 5px;
    width: 40%;
    //height: 50px;
    
}
.price-block .rank-cell {
    color: black;
    //height: 40px;
    padding: 10px;
    font-weight: bold;
}

.price-block .price-cell {
    height: 100%;
    font-size: 18px;
    padding: 20px 0;
    font-weight: bold;
    background: #002b3a;
    word-wrap: break-word
}

.gold {
    background-color: gold;
    background: linear-gradient(to bottom,#ffe766 5%,#ffd700 100%);
    border-bottom: 1px solid #f3cd00;
}

.silver {
    background-color: silver;
    background: linear-gradient(to bottom,#e8e8e8 5%,#c0c0c0 100%);
    border-bottom: 1px solid #a9a7a7;
}

.bronze {
    background-color: #cd7f32;
    background: linear-gradient(to bottom,#ff9a36 5%,#cd7f32 100%);
    border-bottom: 1px solid #d87310;
}